$bg-nav: rgba(253, 236, 158, 0.2);
$bg-header: rgb(253, 236, 158);
$bg-one:rgba(190, 175, 24, 0.4);
$bg-2:rgba(233, 164, 60, 1);
$bg-3:rgba(121, 157, 49, 1);
$bg-4:rgba(68, 110, 28, 1);
$bg-5:rgba(183, 122, 41, 1);
$bg-new: white;
$text-light: rgb(253, 236, 158);
$text-dark: rgb(150, 50, 50);
$text-gray:rgb(70, 68, 68);
$text-new:#893101;
$orange-light: rgba(233, 164, 60, 0.8);
$red-light:rgba(137,49,1, 0.2);
$red-med:rgba(137,49,1, 0.7);


$border: 2px solid gray;
$textsm: italic 16px Arial;
$textbg: bold 30px Arial;
